* {
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: 200px;
    height: 300px;
    width: 300px;
    border: black 1px;
}

.container-spin {
    transform-style: preserve-3d;
    perspective: 500px;
    animation-name: spin;
}

.side {
    position: absolute;
    width: auto;
    height: auto;
    font-size: 100px;
    color: black;
}

.front {
    background: red;
    animation-name: red;
    transform-style: preserve-3d;
}

.front::after {
    position: absolute;
    height: 300px;
    width: 300px;
    transform: translateZ(-1px);
    background: red;
}

.back {
    background: #4141d7;
    animation-direction: reverse;
    animation-name: blue;
    transform-style: preserve-3d;
}

.back::after {
    position: absolute;
    height: 300px;
    width: 300px;
    transform: translateZ(1px);
    background: blue;
}

.anim {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 7s;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }

}

@keyframes red {
    from {
        transform: rotateZ(0) translateZ(50px);
    }
    to {
        transform: rotateZ(360deg) translateZ(50px);
    }
}

@keyframes blue {
    from {
        transform: rotateZ(0) translateZ(-5px);
    }
    to {
        transform: rotateZ(360deg) translateZ(-5px);
    }
}




